article
  h2 Asset

  h4 Example

  Controls(:inline="true" route="/asset/fullscreen")
    Example
    h5(slot="filename") asset.vue
    pre(slot="pug")
      include:hl(lang="pug") ../../examples/asset/template
    pre(slot="html")
      include:hl:pug(pretty=true) ../../examples/asset/template

  include:markdown-it(plugins=['markdown-it-prism']) ../../src/asset/docs.md
